@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(32, 32, 32);
    color: rgb(231, 231, 231);
}

nav {

}

/*Buttons */
.sign-up-button {
    background-color: rgb(95, 81, 179);
    padding: 10px;
    border-radius: 8px;
    border-style: none;
}

.sign-up-button a{
    text-decoration: none;
    color: rgb(223, 223, 223);
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    padding: 20px 18px;
}

/*Main signup section */
.sign-up-section {
    height: 70vh;
    font-family: Roboto;
    background-color: rgb(34, 34, 34);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-section h1 {
    font-size: 70px;
    color: #bbbbbb;
    margin: 30px 0px 5px 0px;
}

.sign-up-section p {
    color: #e6e6e6;
    font-size: 18px;
    width: 80%;
}

.sign-up-section div {
    width: 45vw;
    height: 80%;
}

.sign-up-section .line {
    background-color: rgb(95, 81, 179);
    width: 80px;
    height: 10px;
}

/*Informational section */

.informational-section {
    font-family: Roboto;
}

.informational-section .Understand-Your-Spending {
    background-color: rgb(32, 32, 32);
}





